@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root {
    --main-color: #00BFC7;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: bolder;
}

header .logo span {
    color: #333;
}

header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover {
    color: var(--main-color);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--main-color);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.hero {
    position: relative;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.1);
}

.hero .cover {
    width: 100%;
}

.hero .egg {
    position: absolute;
    top: 10%;
    right: 7%;
    width: 30%;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 3s;
}

.content {
    position: absolute; /* Membuat elemen ini menjadi konteks absolut */
    top: 50%; /* Mengatur posisi vertikal ke tengah elemen "hero" */
    left: 30%; /* Mengatur posisi horizontal ke tengah elemen "hero" */
    transform: translate(-50%, -50%); /* Menggeser elemen "content" ke tengah */
    text-align: left; /* Mengatur teks agar berada di tengah */
}

.home .content {
    max-width: 55rem;
}

.home .content h3 {
    font-size: 5rem;
    color: #333;
    font-weight: 600;
}

.home .content .h3 {
    font-size: 5rem;
    color: #333;
    font-weight: 600;
}

.home .content h4 {
    font-size: 5rem;
    color: #333;
    font-weight: 900;
}

.home .content span {
    font-size: 5rem;
    color: var(--main-color);
    padding: 1rem 0;
    line-height: 1.5;
    font-weight: 600;
}

.home .content p {
    font-size: 1.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}

.icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}

.icons-container .icons {
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icons img {
    height: 5rem;
    margin-right: 2rem;
}

.icons-container .icons h3 {
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span {
    color: #555;
    font-size: 1.5rem;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .about-img {
    flex: 1 1 40rem;
    position: relative;
}

.about .row .about-img img {
    width: 90%;
    border: 1.5rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    height: 90%;
    object-fit: cover;
}

.about .row .about-text {
    flex: 1 1 40rem;
}

.about .row .about-text span {
    color: var(--main-color);
}

.about .row .about-text h2{
    font-size: 5rem;
    color: #333;
}

.about .row .about-text p {
    font-size: 1.8rem;
    color: #999;
    padding: .5rem 0;
    padding-top: .1rem;
    line-height: 2.5rem;
}

.lokasi .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
    margin-bottom: 10rem;
}

.lokasi .row .map-image {
    flex: 1 1 40rem;
    position: relative;
}

.lokasi .row .map-image iframe {
    width: 90%;
    border: 1.5rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    min-height: 50vh;
    object-fit: cover;
}

.lokasi .row .map-caption {
    flex: 1 1 40rem;
}

.lokasi .row .map-caption h3 {
    font-size: 4rem;
    color: #333;
}

.lokasi .row .map-caption p {
    font-size: 1.8rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5rem;
}


.heading {
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(40, 224, 237, 0.05);
    margin-top: -3rem;
    /* box-shadow: .8rem .9rem 1.8rem rgba(0, 0, 0, 0.1); */
}

.heading span {
    color: var(--main-color);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--main-color);
}

.btn-1 {
    display: flex;
    border-radius: 1.2rem;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.btn-1:hover {
    background: var(--main-color);
    border: 1px solid #fff;
    color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 300px;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 1rem 1.2rem 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card-info {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.card-info h3 {
    margin-top: 0;
}

.card-info span {
    background-color: var(--main-color);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
}

.card-caption {
    color: #000;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    color: #000;
}

.overview-1 {
    color: #000;
}

.overview p {
    font-size: 1.4rem;
}

.card:hover .overview {
    transform: translateY(0);
}

.review-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    justify-content: center;
}

.review-container .image p {
    font-size: 2rem;
    text-align: center;
    margin-left: 2rem;
}

.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.review .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
}

.review .box-container .box .fa-quote-right {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .user {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .stars i {
    color: var(--main-color);
    font-size: 2rem;
}

.review .box-container .box p {
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3 {
    font-size: 2rem;
    color: #333;
}
.review .box-container .box .user span {
    font-size: 1.5rem;
    color: #999;
}


.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.box-1 {
    width: 200px;
    height: 200px;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 1rem 1.2rem 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.contact-icon {
    text-align: center;
}

.medsos {
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.btn-contact {
    display: flex;
    border-radius: 1.2rem;
    width: 70%;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    padding: .5rem 2.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 1.9rem;
    align-items: center;
    justify-content: center;
}

.btn-contact:hover {
    background: var(--main-color);
    border: 1px solid #fff;
    color: #fff;
}

.footer {
    background: var(--main-color);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;    
}

.footer .box-container .box h3 {
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
    border-top: .2rem solid rgba(0, 0, 0, .1);
}

.footer .credit h1 {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
}

.footer .credit span {
    color: #fff;
    font-weight: 800;
}



/* KEYFRAMES ANIMATION */

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}


/* media queries */

@media (max-width:1274px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    .content {
        position: absolute; /* Membuat elemen ini menjadi konteks absolut */
        top: 50%; /* Mengatur posisi vertikal ke tengah elemen "hero" */
        left: 30%; /* Mengatur posisi horizontal ke tengah elemen "hero" */
        transform: translate(-50%, -50%); /* Menggeser elemen "content" ke tengah */
        text-align: left; /* Mengatur teks agar berada di tengah */
    }
    
    .home .content {
        max-width: 55rem;
    }
    
    .home .content h3 {
        font-size: 4.5rem;
        color: #333;
        font-weight: 600;
    }
    
    .home .content .h3 {
        font-size: 4.5rem;
        color: #333;
        font-weight: 600;
    }
    
    .home .content h4 {
        font-size: 4.5rem;
        color: #333;
        font-weight: 900;
    }
    
    .home .content span {
        font-size: 4.5rem;
        color: var(--main-color);
        padding: 1rem 0;
        line-height: 1.5;
        font-weight: 600;
    }
    
    .home .content p {
        font-size: 1.5rem;
        color: #999;
        padding: 1rem 0;
        line-height: 1.5;
    }
}

@media (max-width:1167px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    .hero img {
        display: none;
    }

    .home .content {
        max-width: 100%; /* Mengisi lebar layar */
        padding: 0 .1rem; /* Menambahkan padding untuk tampilan yang lebih baik */
        text-align: center;
        margin-left: 18%;
        flex: 1 1 40rem;
    }

    .home .content .multiple-text {
        white-space: pre-line;
        flex: 1 1 20rem;
    }

    .home .content h3,
    .home .content .h3 {
        font-size: 4rem; /* Mengurangi ukuran font h3 */
        flex: 1 1 20rem;
        font-weight: 600;
    }

    .home .content h4 {
        font-size: 3.5rem; /* Mengurangi ukuran font h4 */
        flex: 1 1 20rem;
        font-weight: 900;
    }

    .home .content span {
        font-size: 3.5rem; /* Mengurangi ukuran font span */
        padding: 1rem 0;
        flex: 1 1 20rem;
    }

    .home .content p {
        font-size: 1.25rem; /* Mengurangi ukuran font p */
        flex: 1 1 20rem;
    }
}



@media (max-width:843px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .hero .cover {
        display: none;
    }

    .home .content {
        max-width: 100%; /* Mengisi lebar layar */
        padding: 0 .1rem; /* Menambahkan padding untuk tampilan yang lebih baik */
        text-align: center;
        margin-left: 18%;
        flex: 1 1 40rem;
    }

    .home .content .multiple-text {
        white-space: pre-line;
        flex: 1 1 20rem;
    }

    .home .content h3,
    .home .content .h3 {
        font-size: 4rem; /* Mengurangi ukuran font h3 */
        flex: 1 1 20rem;
        font-weight: 600;
    }

    .home .content h4 {
        font-size: 3.5rem; /* Mengurangi ukuran font h4 */
        flex: 1 1 20rem;
        font-weight: 900;
    }

    .home .content span {
        font-size: 3.5rem; /* Mengurangi ukuran font span */
        padding: 1rem 0;
        flex: 1 1 20rem;
    }

    .home .content p {
        font-size: 1.25rem; /* Mengurangi ukuran font p */
        flex: 1 1 20rem;
    }
}